@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: 'Popins', sans-serif;
}

.accordion{
    margin-top: 6.2rem;
    background-color: transparent;
    font-family: 'Popins', sans-serif;

}



.accordion__label{
  max-width: 21.5rem;
  background: #007bff;
  padding: 0.625rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 0.375rem;



}
.accordion .parent-tab .accordion__label:hover{
    color: red;
}


.accordion__content {
    font-size: 0.85em;
    max-height: 0;
    overflow: hidden;
    transform: scale(0.9);
  }

  .accordion__input {
    display: none;
  }

  .accordion__input:checked ~ .accordion__content {
    max-height: 100vh;
    cursor: pointer;
  }
  .accordion__input:hover ~ .accordion__content {
    max-height: 100vh;
    transition: .7s all ease-in-out;
   transform: scale(0.9);
    color: red;
    cursor: pointer;
  }

  .accordion,
  .parent-tab{
    margin-bottom: 1.325rem;

  }

  .accordion .parent-tab .accordion__content img{


    border-radius: 0.2rem;
  }

  .accordion__content img{
    transition: .3s ease-in-out;
  }


